@model IEnumerable<SistemaWeb.Models.Productos>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink(" Agregar nuevo producto", "Create", null, new { @class = "btn btn-primary fa-solid fa-plus" })
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre del producto</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th style="width:200px">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>@Html.DisplayFor(modelItem => item.Categorias.Nombre)</td>
                <td class="text-end">
                    @Html.ActionLink(" ", "Edit", new { id = item.ProductoId }, new { @class = "btn btn-sm btn-warning me-1 fa-solid fa-pen-to-square", title = "Editar producto" })
                    @Html.ActionLink(" ", "Details", new { id = item.ProductoId }, new { @class = "btn btn-sm btn-info me-1 fa-solid fa-circle-info", title = "Ver detalles" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ProductoId }, new { @class = "btn btn-sm btn-danger fa-solid fa-trash", title = "Eliminar producto" })
                </td>
            </tr>
        }
    </tbody>
</table>
